/* в цьому файлі росташовано код який буде спрацьовувати замісць основного коду css (file style.css) */
@media (max-width:845px) {
    .hero.flex {
        flex-direction: column;
    }

    .hero div:nth-child(1) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 24px;
        text-align: center;
    }

    .hero div h1 {
        text-align: center;
    }
    .hero .ofsaite {
        margin-left: auto;
    }
    .hero div:nth-child(2) {
        width: 100%;
    }
    .video {
        display: none;
    }
}